<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:context="http://www.springframework.org/schema/context"  
	  xmlns:aop="http://www.springframework.org/schema/aop"
	  xmlns:tx="http://www.springframework.org/schema/tx"
	  xsi:schemaLocation="
	  http://www.springframework.org/schema/beans  
	  http://www.springframework.org/schema/beans/spring-beans.xsd  
	  http://www.springframework.org/schema/aop  
	  http://www.springframework.org/schema/aop/spring-aop.xsd
	  http://www.springframework.org/schema/tx  
	  http://www.springframework.org/schema/tx/spring-tx.xsd
	  http://www.springframework.org/schema/context   
      http://www.springframework.org/schema/context/spring-context.xsd"> 		   
 		   
 		   
 		   <!-- 加载配置文件 -->
	       <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="false">
		        <property name="locations">
		            <list>
				<!-- 		<value>http://prop_server/props/aldb-magicmall/application.properties</value>  -->
		            <value>classpath:application.properties</value>  
		            </list>
		        </property>
		        <!-- 找不到以上配置不会报错 -->
		        <property name="ignoreResourceNotFound" value="true"/>
		        <!-- 忽略不可解析的配置文件 -->
		        <property name="ignoreUnresolvablePlaceholders" value="true"/>
	       </bean> 
	       <context:annotation-config/> 

</beans>